page-week {

}

/* --------------------------------
Date Selection
-------------------------------- */
#weekDateArea {
  text-align: center;
}

span h4 {
  width: 20%;
  display: inline-block;
  font-size: 12pt;
}