page-week {

}

/* --------------------------------
Date Selection
-------------------------------- */
#weekDateArea {
  text-align: center;
}

span h4 {
  width: 20%;
  display: inline-block;
  font-size: 12pt;
}

/* --------------------------------
Timeline Bars
-------------------------------- */

#tl-container {
  height: 80%;
}

.tl-line {
  border-radius: 15px;
  content: '';
  height: 100%;
  width: 15%;
  margin: 2%;
  background-color: rgba(255,255,255,0.2);
  display: inline-block;
}