<ion-content no-bounce padding>
  <div id="weekDateArea">
    <h2 id="weekDay">{{date_range}}</h2>
    <span id="weekDates">
      <h4>{{display_days[0]}}</h4>
      <h4>{{display_days[1]}}</h4>
      <h4>{{display_days[2]}}</h4>
      <h4>{{display_days[3]}}</h4>
      <h4>{{display_days[4]}}</h4>
    </span>
  </div>

  <div id="tl-container">
    <!--Day_1-->
    <div class="tl-line">
      <div *ngFor="let bubble_week of bubbles">
          <div class="bubble_week" style="margin-top:50%; background-color: rgba(255,0,0,0.4);"></div>
          <div class="bubble_week" style="margin-top:0%; background-color: rgba(0,255,0,0.4);"></div>
          <div class="bubble_week" style="margin-top:10%; background-color: rgba(0,0,255,0.4);"></div>
          <div class="bubble_week" style="margin-top:40%; background-color: rgba(255,255,0,0.4);"></div>
      </div>
    </div>
    <!--Day_2-->
    <div class="tl-line">
      <div *ngFor="let bubble of bubbles">
        
      </div>
    </div>
    <!--Day_3-->
    <div class="tl-line">
      <div *ngFor="let bubble of bubbles">

      </div>
    </div>
    <!--Day_4-->
    <div class="tl-line">
      <div *ngFor="let bubble of bubbles">

      </div>
    </div>
    <!--Day_5-->
    <div class="tl-line">
      <div *ngFor="let bubble of bubbles">

      </div>
    </div>
  </div>
</ion-content>