page-label {
    color: $text-color;
    
    .red {
        background: color($colors, red);
    }

    .green {
        background: color($colors, green);
    }

    .yellow {
        background: color($colors, yellow);
    }

    .blue {
        background: color($colors, blue);
    }

    .purple {
        background: color($colors, purple);
    }

    .grey {
        background: color($colors, grey);
    } 
    .event-label {
        width: 85%;
        float: left;
    }

    .button-wrapper {
        margin-top:6px; 
        float:right;
        div {
            width: 30px;
            height: 30px;
            border-radius: 15px;
            margin: 0 7.5px
        }
    }
    #submit-button {
        color: $text-color;
    }
}
