page-label {
    color: $text-color;
    
    .red {
        background: color($colors, red);
    }

    .green {
        background: color($colors, green);
    }

    .yellow {
        background: color($colors, yellow);
    }

    .blue {
        background: color($colors, blue);
    }

    .purple {
        background: color($colors, purple);
    }

    .grey {
        background: color($colors, grey);
    } 
    /* Displays the ion-label at the end of the ion-input 
     * ion-label contains the coloured circle
     */
    .input-wrapper {
        flex-direction: row-reverse;
    }
    /* Controls the size of the coloured circle displayed
     *
     */
    .coloured-dot-wrapper div {
            width: 30px;
            height: 30px;
            border-radius: 15px;
            margin: 0 7.5px
    }
    /*  If user inputs invaild string into any ion-input 
     * 
     */
    .invalid {
        border-radius: 15px;
        border: 1px solid #ea6153;
    }
}
