page-create {
        .coloured-dot-wrapper {
            width: 5px;
            height: 5px;
            border-radius: 2.5px;
            margin: 5px!important;
            background-color: red;

    }
}
