page-login {
    
}

.ion-page {
    background: transparent !important;
}

.loginLogo {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.loginInput:first-child {
    border-top: 0;
    margin-top: 20px;
    background: transparent;
}

.loginInput:last-child {
    background: transparent;
}

.loginSocial {
    margin: 20px 10px 0px 10px;
    font-size: 50px;
    text-align: center;

}

.signIn, .signIn > button {
    color: white;
    text-align: center;
}

.signup {
    display: inline;
    text-align: center;
    position: absolute;
    width: 100%;
    margin-left: -16px;
    bottom: 0px;
}
