page-home {}

/* -------------------------------- 
Modules - reusable parts of our design
-------------------------------- */
.tl-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 93%;
  max-width: 1170px;
  margin: 0 auto;
}

.tl-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

/* --------------------------------
Main components 
-------------------------------- */
.tl-title {
  color: color($colors, primary);
  font-size: 22px;
}

.tl-description {
  color: color($colors, secondary);
  font-size: 19px;
}

.tl-location, .tl-time {
  color: color($colors, primary);
  font-size: 19px;
  margin: 2px;
}

#tl {
  position: relative;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 10px !important;
}

#tl::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 1px;
  left: 15px;
  height: 100%;
  width: 11px;
  background: rgba(255, 255, 255, 0.3);
}

.tl-block {
  position: relative;
  margin: 2em 0;
}

.tl-block:after {
  content: "";
  display: table;
  clear: both;
}

.tl-block:first-child {
  margin-top: 0;
}

.tl-block:last-child {
  margin-bottom: 0;
}

.tl-colour {
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-left: 2px;
  padding-top: 5px;
  border-color: transparent;
  box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.3); 
}

.tl-content {
  position: relative;
  margin-left: 60px;
  border-color: transparent;
  border-style: solid;
  border-width: 2px;
  margin-bottom: 10px;
  padding-top: 6px;
}

.tl-content::before {
  content: '';
  position: absolute;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
  border-right-color: inherit;
}

.tl-content:after {
  content: "";
  display: table;
  clear: both;
}

// Timeline colours
.tl-red {
  background: color($colors, red);
}

.tl-green {
  background: color($colors, green);
}

.tl-yellow {
  background: color($colors, yellow);
}

.tl-blue {
  background: color($colors, blue);
}

.tl-purple {
  background: color($colors, purple);
}

.tl-grey {
  background: color($colors, grey);
}

/* --------------------------------
Date Selection
-------------------------------- */
#dayDateArea {
  text-align: center;
}

span button {
  width: 17%;
  display: inline-block;
  background-color: transparent;
  color: white;
  font-size: 12pt;
  padding: 0px 0px 5px 0px;
}

#timeBar {
  content: '';
  margin: 30px auto 10px auto;
  background-color: rgba(255, 255, 255, 0.3);
  width: 100%;
  height: 30px;
  border-radius: 25px;
}

.bubble {
  content: '';
  display: inline-block;
  margin-right: 4px;
  height: 25px;
  width: 8%;
  margin-top: 2.5px;
  border-radius: 25px;
  background-color: white;
}

.bubble:first-child {
  margin-left: 10px;
}

ion-header h2 {
  color: whitesmoke;
}